body{
  background-color: #000000;
}

.grid{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  font-size: 35px;
  color: #ffffff;
}

.circle{
  animation-name: changeColorCircle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.cross{
  animation-name: changeColorCross;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes changeColorCross{
  from{
    background-color: #ffffff;
  }
  to{
    background-color: #fbc31bab;
  }
}
@keyframes changeColorCircle{
  from{
    background-color: #ffffff;
  }
  to{
    background-color: #dc3545ad;
  }
}